.notes_container {
  height: 100vh;
  overflow-y: scroll;
}

.notes_input {
  background-color: #3d4245 !important;
  color: #cfcfcf !important;
  border: none !important;
}

.notes_input::placeholder {
  color: #cfcfcf !important;
}

@media screen and (max-width: 767px) {
  .notes_container {
    padding-top: 3.125rem !important;
  }
}
