.noteEmptyCard_container {
  height: 500px;
  -webkit-box-shadow: 3px 3px 14px 1px rgba(33, 33, 33, 1);
  -moz-box-shadow: 3px 3px 14px 1px rgba(33, 33, 33, 1);
  box-shadow: 3px 3px 14px 1px rgba(33, 33, 33, 1);
  background-color: #262a2e;
  color: #979797;
}

.noteEmptyCard_container:hover {
  cursor: pointer;
  color: #cfcfcf;
  background-color: #2e3336;
  transition: 0.2s;
}
